*{
    margin: 0;
    padding: 0;
}

.carousel-item img{
    height: 550px;
    object-fit: cover;
}

.image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

li{
    list-style: none;
    margin-top: 10px;
}


.input{
    width: 500px;
    height: 50px;
    margin-top: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    letter-spacing: 4px;
}
.btn{
    width: 500px;
    height: 50px;
}